<!DOCTYPE html>
<html>
<br/>
<body>
	<div class="container-fluid text-center">
		<h1>About Us</h1>
	</div>
	<br>

	<style>
	    /* Custom styles for the about box */
	    .about-box {
	      position: absolute;
	      top: 50%;
	      left: 50%;
	      transform: translate(-50%, -50%);
	      background-color: #f8f9fa;
	      padding: 30px;
	      border-radius: 10px;
	      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
	      font-size: 16px;
	    }
	</style>

	<div class="container-fluid">
		<div class="row">
    		<div class="col-md-6 offset-md-3">
      			<div class="about-box text-center">
			        <p>Welcome to <strong>Ruby Restaurants</strong>! Our objective is to help you find the best restaurants near you and allow you to perform a booking to one or more of their tables!</p>
			        <p>Maecenas quis mi ligula. Nam malesuada leo id nunc varius, a ullamcorper metus dapibus. Nulla hendrerit massa sit amet scelerisque bibendum. Nam interdum mi non libero ultricies, ac hendrerit ipsum volutpat.</p>
			        <p>Integer ullamcorper leo a velit feugiat, vitae lobortis nisi lacinia. Duis tempor, velit ut fermentum lacinia, sapien ex lobortis est, ac faucibus metus mi sit amet mauris. Integer auctor dapibus mauris vitae varius.</p>
      			</div>
   			</div>
  		</div>
	</div>
</body>
</html>